body {
    font-family: Quicksand;
    text-align: justify;
    margin-left: 0;
    margin-top: 100px;
}

h1 {
    font-size: 50px;
    
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: large;
}

.half-width {
    width:40%;
    
}

.half-width img {
    width:100%;
    
}

.flexible-section {
    display:flex;
    margin-bottom: 100px;

}


#first-section-text {
    padding-right: 150px;
    padding-top: 50px;
}

p {
    padding-bottom: 30px;
}

.purple-color-text {
    color: rebeccapurple;
}

.button {
    background-image: linear-gradient( 45deg, rebeccapurple, purple);
    padding: 10px;
    border-radius: 5px;
    color:seashell;
    text-decoration: none;
}

#text-sideline {
    border-left: rebeccapurple solid 5px;
    padding-left: 10px;
}

#second-section-text {
    padding-left: 335px;
}

.box {
    width: 25%;
    margin-right: 20px;
    padding: 20px;
    display: inline-block;

}

#first-box {
    background-color: lemonchiffon;
    border-radius: 5px;
    
}

#first-box img {
    width: 30%;
}

#second-box {
    background-color: pink;
    border-radius: 5px;
    
}

#second-box img {
    width: 30%;
}

#third-box {
    background-color: lightseagreen;
    border-radius: 5px;
}

#third-box img {
    width: 30%;
}

#third-section-text {
    padding-top: 50px;
   margin-left:  50px;
} 

#fourth-section-text {
    padding-top: 50px;
   margin-right:  50px;
}

footer {
    background-color: black;
    color: white;
    
    text-align: center;
  
}

#footer-primary-text {
    font-style: italic;
}





#social-media {
    border-right: rebeccapurple solid 5px;
    border-left: rebeccapurple solid 5px;;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
}

#messenger {
    border-right: rebeccapurple solid 5px;
    padding-right: 10px;
    margin-right: 20px;
}

#mail {
    border-right: rebeccapurple solid 5px;
    margin-right: 20px;
    padding-right: 10px;
}

#all-of-it {
    margin-left: 250px;
    margin-right: 50px;
}